<template>
  <button :disabled="disabled" :class="[{'opacity-25' : disabled}, {'cursor-not-allowed' : disabled}]">
    <slot></slot>
  </button>
</template>

<script>
export default {
  props:['disabled']
};
</script>

<style>
</style>