<template>
  <volt-button :disabled="disabled" class="rounded bg-red-500 text-white px-2 py-1">
    <slot>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
        />
      </svg>
    </slot>
  </volt-button>
</template>

<script>
import VoltButton from "@/Components/Buttons/Button.vue";
export default {
  components: {
    VoltButton,
  },
  props: ["disabled"]
};
</script>

<style>
</style>