<template>
  <volt-button
    :class="[{ 'opacity-25': disabled }, { 'cursor-not-allowed': disabled }]"
    :disabled="disabled"
    class="rounded bg-yellow-400 text-white px-2 py-2"
  >
    <slot>Envoyer</slot>
  </volt-button>
</template>

<script>
import VoltButton from "@/Components/Buttons/Button.vue";
export default {
  components: {
    VoltButton,
  },
  props: ["disabled"],
};
</script>

<style>
</style>