<template>
  <vol-card>
    <div class="flex justify-between">
      <h3 class="text-xl text-gray-600 font-semibold">Paramètres</h3>
      <volt-toggler
        :active="showSettings"
        @close="showSettings = false"
        @open="showSettings = true"
      />
    </div>
    <Transition name="dropdown">
      <div v-show="showSettings">
        <form @submit.prevent="submit">
          <div class="my-3">
            <JetLabel for="name">Nom du tournoi</JetLabel>
            <volt-input
              class="w-full"
              type="text"
              name="name"
              v-model="form.name"
            />
          </div>
          <div class="flex justify-between">
            <div class="w-5/12">
              <JetLabel for="squad_size">Taille d'équipe</JetLabel>
              <volt-input
                class="w-full"
                type="number"
                name="squad_size"
                v-model="form.squad_size"
              />
            </div>
            <div class="w-5/12">
              <JetLabel for="nb_courts">Nombre de terrains</JetLabel>
              <volt-input
                class="w-full"
                type="number"
                name="nb_courts"
                v-model="form.nb_courts"
              />
            </div>
          </div>
          <div class="mt-5 flex items-center">
            <volt-switch
              :enabled="form.overflowable"
              v-model="form.overflowable"
            />
            <span
              class="ml-2 transition duration-500"
              :class="{ 'text-gray-300': !form.overflowable }"
            >
              Equilibrage par dépassement de taille d'équipe
            </span>
          </div>
          <div class="mt-5">
            <volt-confirm-button
              :class="{ 'opacity-25': form.processing }"
              :disabled="form.processing"
              class="w-full"
            >
              Enregistrer
            </volt-confirm-button>
          </div>
        </form>
      </div>
    </Transition>
  </vol-card>
</template>

<script>
import VolCard from "@/Components/Card";
import JetLabel from "@/Jetstream/Label";
import VoltInput from "@/Jetstream/Input";
import VoltConfirmButton from "@/Components/Buttons/Confirm";
import VoltToggler from "@/Components/Toggler";
import VoltSwitch from "@/Components/Switch";
import { useForm } from "@inertiajs/inertia-vue3";
export default {
  props: ["tournament"],
  components: {
    VolCard,
    VoltInput,
    JetLabel,
    VoltConfirmButton,
    VoltToggler,
    VoltSwitch,
  },
  data: function () {
    return {
      showSettings: true,
      form: useForm({
        name: this.tournament.name,
        squad_size:
          this.tournament.squad_size.toString() ?? this.tournament.squad_size,
        nb_courts:
          this.tournament.nb_courts.toString() ?? this.tournament.nb_courts,
        overflowable: Boolean(this.tournament.overflowable),
      }),
    };
  },
  methods: {
    submit: function () {
      this.form.put(
        route("tournaments.update", { tournament: this.tournament }),
        {
          preserveScroll: true,
        }
      );
    },
  },
};
</script>

<style>
.dropdown-enter-active {
  animation: dropin 1s;
}
.dropdown-leave-active {
  animation: dropout 1s;
}

@keyframes dropin {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 100vh;
  }
}

@keyframes dropout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    max-height: 30vh;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}
</style>