<template>
  <app-layout title="tournaments-index">
    <template #header>
      <Breadcrumb :links="links" />
    </template>
    <div class="flex justify-center">
      <div class="w-1/2">
        <volt-confirm-button
          class="mb-5 flex items-center px-4 py-3"
          @click="showCreateTournament = true"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
              clip-rule="evenodd"
            />
          </svg>
          Créer un tournoi
        </volt-confirm-button>

        <volt-card class="w-full rounded-lg p-0">
          <ul class="p-0">
            <li
              class="
                border-b-2
                px-1
                border-gray-100
                last:border-none
                hover:bg-slate-50
                flex
              "
              v-for="tournament in sortedTournaments"
              :key="tournament.id"
            >
              <a
                class="
                  py-5
                  px-3
                  block
                  h-full
                  w-full
                  rounded-lg
                  flex
                  justify-between
                "
                :href="route('tournaments.show', { tournament: tournament })"
              >
                <div>
                  <h3 class="flex font-semibold transition text-indigo-500">
                    <ping-success
                      v-if="
                        new Date(tournament.start_at) < new Date() &&
                        !tournament.finished
                      "
                      class="absolute -translate-x-2.5 -translate-y-2.5"
                    />
                    {{ tournament.name }}
                  </h3>
                  <p class="mt-1 text-xs font-semibold text-gray-400">
                    Status:
                    <span
                      v-if="tournament.finished"
                      class="text-red-400 font-bold"
                      >Terminé</span
                    >
                    <span
                      v-else-if="
                        new Date(tournament.start_at) < new Date() &&
                        !tournament.finished
                      "
                      class="text-green-400 font-bold"
                      >En cours</span
                    >
                    <span v-else class="text-amber-400 font-bold"
                      >En attente</span
                    >
                  </p>
                  <p class="mt-1 text-xs font-semibold text-gray-400">
                    Taille des équipes : {{ tournament.squad_size }}
                  </p>
                </div>

                <div class="text-sm text-gray-600 w-1/4">
                  <p>
                    Participants inscrits :
                    <span class="text-indigo-500">{{
                      tournament.players.length
                    }}</span>
                  </p>
                  <p>
                    Début :
                    <span class="text-indigo-500 font-semibold">{{
                      new Date(tournament.start_at).toLocaleDateString(
                        "fr-FR",
                        {
                          weekday: "long",
                          year: "numeric",
                          month: "long",
                          day: "numeric",
                        }
                      )
                    }}</span>
                  </p>
                </div>
              </a>
            </li>
          </ul>
        </volt-card>
      </div>
    </div>
  </app-layout>
  <confirmation-modal
    icon_bg_color="bg-indigo-50"
    :show="showCreateTournament"
    :closeable="true"
  >
    <template #title>Création de tournoi</template>
    <template #icon>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 text-indigo-500"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z"
          clip-rule="evenodd"
        />
      </svg>
    </template>
    <template #content>
      <form id="new_tournament" @submit.prevent="submit">
        <!-- Name + squad size -->
        <div class="flex justify-between">
          <div class="w-1/2">
            <jet-label for="name">Nom</jet-label>
            <jet-input
              class="w-full"
              type="text"
              name="name"
              v-model="form.name"
            />
          </div>
          <div class="w-1/3">
            <jet-label for="squad_size">Taille des équipes</jet-label>
            <jet-input
              class="w-full"
              type="number"
              name="squad_size"
              v-model="form.squad_size"
            />
          </div>
        </div>
        <div class="w-full mt-2">
          <jet-label for="start_at">Date de début</jet-label>
          <Datepicker
            locale="fr"
            cancelText="Cancel"
            selectText="Select"
            :minDate="form.start_at"
            :preventMinMaxNavigation="true"
            :startDate="form.start_at"
            :enableTimePicker="false"
            :autoApply="true"
            format="dd/MM/yyyy"
            v-model="form.start_at"
          />
        </div>
      </form>
    </template>
    <template #footer>
      <JetSecondaryButton @click="showCreateTournament = false">
        Cancel
      </JetSecondaryButton>

      <volt-confirm-button
        form="new_tournament"
        class="ml-3"
        :class="{ 'opacity-25': form.processing }"
        :disabled="form.processing"
      >
        Ajouter
      </volt-confirm-button>
    </template>
  </confirmation-modal>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout.vue";
import VoltCard from "@/Components/Card";
import VoltConfirmButton from "@/Components/Buttons/Confirm";
import ConfirmationModal from "@/Jetstream/ConfirmationModal";
import JetSecondaryButton from "@/Jetstream/SecondaryButton.vue";
import JetInput from "@/Jetstream/Input";
import JetLabel from "@/Jetstream/Label";
import { useForm } from "@inertiajs/inertia-vue3";
import Breadcrumb from "@/Components/Breadcrumb";
import Datepicker from "@vuepic/vue-datepicker";
import PingSuccess from "@/Components/Pings/Success";
export default {
  props: ["tournaments"],
  components: {
    PingSuccess,
    AppLayout,
    VoltCard,
    VoltConfirmButton,
    ConfirmationModal,
    JetSecondaryButton,
    JetLabel,
    JetInput,
    Breadcrumb,
    Datepicker,
  },
  data: function () {
    return {
      links: [{ route: route("tournaments.index"), text: "Mes tournois" }],
      showCreateTournament: false,
      form: useForm({
        name: "",
        squad_size: "",
        start_at: new Date(),
      }),
    };
  },
  computed: {
    sortedTournaments: function () {
      let tournaments = this.tournaments.sort(
        (a, b) =>
          new Date(a.start_at).getTime() - new Date(b.start_at).getTime()
      );

      tournaments = tournaments.sort((a, b) =>
        a.finished === b.finished ? 0 : b.finished ? -1 : 1
      );

      return tournaments;
    },
  },
  methods: {
    submit: function () {
      this.form.post(route("tournaments.store"));
    },
  },
};
</script>

<style>
</style>