<template>
  <app-layout>
    <template #header>
      <h2 class="font-semibold text-xl text-gray-800 leading-tight">
        {{ tournament.name }} - Résultats
      </h2>
    </template>
    <div class="flex justify-center">
      <volt-card class="w-1/2">
        <table class="table-auto w-full">
          <thead class="py-2">
            <tr class="border-b-4 border-gray-200">
              <th class="py-3">Rank</th>
              <th class="py-3">Nom</th>
              <th class="py-3">Score</th>
              <th class="py-3">Nombre de parties</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="player in sortedPlayers" :key="player.id">
              <td class="py-3 text-center">{{ player.rank }}</td>
              <td class="py-3 text-center">{{ player.name }}</td>
              <td class="py-3 text-center">{{ player.score }}</td>
              <td class="py-3 text-center">{{ player.nb_games }}</td>
            </tr>
          </tbody>
        </table>
      </volt-card>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout";
import VoltCard from "@/Components/Card";
export default {
  components: {
    AppLayout,
    VoltCard,
  },
  props: ["tournament"],
  computed: {
    sortedPlayers: function () {
      // On calcul le nombre de matchs pour chaque joueur
      this.tournament.players.forEach((player, i) => {
        let total = 0;
        player.squads.forEach((squad) => {
          total += squad.games.length;
        });

        this.tournament.players[i].nb_games = total;
      });

      // On fait un premier tri par le score
      var sorted = this.tournament.players.sort((a, b) => {
        if (b.score == a.score) {
          return a.nb_games - b.nb_games;
        }
        return b.score - a.score;
      });

      for (let p = 0; p < sorted.length; p++) {
        if (p > 0) {
          sorted[p].rank = sorted[p - 1].score != sorted[p].score ? p + 1 : "-";
        } else {
          sorted[p].rank = p + 1;
        }
      }

      return sorted;
    },
  },
  methods: {
    nb_games: function (player) {
      return total;
    },
  },
};
</script>

<style>
</style>