<template>
  <app-layout title="tournaments-index">
    <template #header>
      <Breadcrumb :links="links" />
      <h2 class="text-2xl text-gray-700 font-bold my-5">
        <span v-if="tournament.rounds.length > 0">
          Round {{ lastRound.iteration }}
        </span>
        <span v-else>
          Initialisation du tournoi
        </span>
      </h2>
    </template>
    <div class="flex justify-between">
      <div class="w-1/3 flex flex-col mr-3">
        <tournament-edit class="mb-3" :tournament="tournament" />
        <players-list
          :tournament="tournament.id"
          :players="tournament.players"
        ></players-list>
      </div>

      <div class="rounds w-2/3 ml-3">
        <empty-round v-if="tournament.rounds.length < 1" @start="start" />
        <slot v-else name="content"></slot>
      </div>
    </div>
  </app-layout>
</template>

<script>
import AppLayout from "@/Layouts/AppLayout.vue";
import PlayersList from "@/Components/Players/List.vue";
import TournamentEdit from "@/Pages/Tournaments/EditForm.vue";
import EmptyRound from "../../Components/EmptyRound.vue";
import Breadcrumb from "@/Components/Breadcrumb";
export default {
  props: ["tournament"],
  data: function () {
    return {
      links: [
        {
          route: route("tournaments.index"),
          text: "Mes tournois",
        },
        {
          route: route("tournaments.show", { tournament: this.tournament.id }),
          text: this.tournament.name,
        },
      ],
    };
  },
  components: {
    AppLayout,
    PlayersList,
    TournamentEdit,
    EmptyRound,
    Breadcrumb,
  },

  computed: {
    lastRound: function () {
      let lastIdx = this.tournament.rounds.length - 1;
      return this.tournament.rounds[lastIdx];
    },
  },

  methods: {
    start: function () {
      this.$inertia.get(
        route("tournaments.start", {
          tournament: this.tournament,
        })
      );
    },
  },
};
</script>

<style>
</style>