<template>
  <tournament-layout :tournament="tournament">
    <template #content>
      <round-manager :tournament="tournament" :round="round" />
      <volt-game
        class="my-3"
        :game="game"
        v-for="game in orderedGames"
        :key="game.id"
        :lock="lock || tournament.finished"
        @sending="lock = true"
        @sent="lock = false"
      />
    </template>
  </tournament-layout>
</template>

<script>
import TournamentLayout from "@/Pages/Tournaments/Show";
import VoltCard from "@/Components/Card";
import VoltGame from "@/Components/Game";
import RoundManager from "@/Components/RoundManager";
export default {
  props: ["tournament", "round"],
  components: {
    TournamentLayout,
    VoltCard,
    VoltGame,
    RoundManager,
  },
  data: function() {
    return {
      lock: false
    }
  },
  computed: {
    orderedGames: function () {
      return this.round.games.sort((a, b) => a.id - b.id);
    },
  },
};
</script>

<style>
</style>