<template>
  <volt-card class="flex justify-center items-center h-content">
    <div
      @click="$emit('start')"
      class="
        transition-colors
        duration-500
        hover:border-indigo-500
        border-dashed border-indigo-200 border-4
        cursor-pointer
        text-3xl
        flex
        justify-center
        items-center
        w-3/4
        h-96
        rounded-xl
      "
    >
      Démarrer le tournoi
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="animate-shake text-indigo-500 ml-5 h-12 w-12"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17 8l4 4m0 0l-4 4m4-4H3"
        />
      </svg>
    </div>
  </volt-card>
</template>

<script>
import VoltCard from "@/Components/Card.vue";
import VoltConfirmButton from "@/Components/Buttons/Confirm.vue";
import { Link } from "@inertiajs/inertia-vue3";

export default {
  components: {
    Link,
    VoltCard,
    VoltConfirmButton,
  }
};
</script>

<style>
</style>