<template>
  <volt-card>
    <header class="text-center">
      <h3 class="text-xl font-semibold text-gray-700">{{ game.name }}</h3>
    </header>

    <div class="flex justify-around">
      <volt-squad :lock="lock" @updateScore="updateHomeScore" :squad="home" />
      <volt-squad
        :lock="lock"
        @updateScore="updateVisitorScore"
        :visitor="true"
        :squad="visitor"
      />
    </div>
  </volt-card>
</template>

<script>
import VoltCard from "@/Components/Card";
import VoltSquad from "@/Components/Squad";
import { useForm } from "@inertiajs/inertia-vue3";

export default {
  props: ["game", "lock"],
  emits: ["sending", "sent"],
  components: {
    VoltCard,
    VoltSquad,
  },
  data: function () {
    return {
      formScore: useForm({
        score: 0,
      }),
    };
  },
  computed: {
    home: function () {
      return this.game.squads[0];
    },
    visitor: function () {
      return this.game.squads[1];
    },
  },
  methods: {
    updateHomeScore: function (score) {
      this.formScore.score = score;
      this.game.squads[0].pivot.score = score
      this.sendScore(this.home.id);
    },
    updateVisitorScore: function (score) {
      this.formScore.score = score;
      this.game.squads[1].pivot.score = score
      this.sendScore(this.visitor.id);
    },
    sendScore: function (squad) {
      this.$emit('sending');
      this.formScore.put(
        route("game.update.score", {
          game: this.game.id,
          squad: squad,
        }),
        {
          preserveScroll: true,
          onSuccess: () => {
            this.formScore.reset();
          },
          onFinish: () => {
            this.$emit('sent')
          }
        }
      );
    },
  },
};
</script>

<style>
</style>