<template>
  <volt-card class="flex flex-col">
    <div class="flex justify-between items-center">
      <round-selector :rounds="tournament.rounds" :current="round.id" />
      <volt-warning-button :disabled="round.lock" @click="reset">
        Refaire les équipes
      </volt-warning-button>
    </div>
    <div class="mt-5 flex justify-between">
      <volt-confirm-button
        type="button"
        :disabled="round.lock"
        @click="showNextRoundModal = true"
      >
        Terminer le tour
      </volt-confirm-button>
      <volt-delete-button :disabled="tournament.finished" type="button" @click="showEndTournamentModal = true">
        Terminer le tournoi
      </volt-delete-button>
    </div>
  </volt-card>
  <confirmation-modal :show="showNextRoundModal" :closeable="true">
    <template #title>Confirmation fin de round</template>
    <template #content>
      <p>
        Une fois le round clôturé, il ne sera plus possible de regénérer les
        équipes. Êtes-vous sûr de vouloir continuer ?
      </p>
    </template>
    <template #footer>
      <JetSecondaryButton @click="showNextRoundModal = false">
        Annuler
      </JetSecondaryButton>

      <JetButton
        class="ml-3"
        :class="{ 'opacity-25': sending }"
        :disabled="sending"
        @click="nextRound"
      >
        Clôturer
      </JetButton>
    </template>
  </confirmation-modal>
  <confirmation-modal :show="showEndTournamentModal" :closeable="true">
    <template #title>Confirmation fin de tournoi</template>
    <template #content>
      <p>
        Une fois le tournoi clôturé, il ne sera plus possible de créer de
        nouveau tours. Êtes-vous sûr de vouloir mettre fin au tournoi ?
      </p>
    </template>
    <template #footer>
      <JetSecondaryButton @click="showEndTournamentModal = false">
        Annuler
      </JetSecondaryButton>

      <JetButton
        class="ml-3"
        :class="{ 'opacity-25': sending }"
        :disabled="sending"
        @click="closeTournament"
      >
        Clôturer
      </JetButton>
    </template>
  </confirmation-modal>
</template>

<script>
import VoltCard from "@/Components/Card";
import RoundSelector from "@/Components/RoundSelector";
import VoltConfirmButton from "@/Components/Buttons/Confirm";
import VoltWarningButton from "@/Components/Buttons/Warning";
import VoltDeleteButton from "@/Components/Buttons/Delete";
import ConfirmationModal from "@/Jetstream/ConfirmationModal";
import JetButton from "@/Jetstream/Button";
import JetSecondaryButton from "@/Jetstream/SecondaryButton";
export default {
  components: {
    VoltCard,
    RoundSelector,
    VoltConfirmButton,
    VoltWarningButton,
    VoltDeleteButton,
    ConfirmationModal,
    JetButton,
    JetSecondaryButton,
  },
  props: ["tournament", "round"],
  data: function () {
    return {
      showNextRoundModal: false,
      showEndTournamentModal: false,
      sending: false,
    };
  },
  methods: {
    reset: function () {
      this.$inertia.get(
        route("rounds.reset", {
          round: this.round,
        })
      );
    },
    nextRound: function () {
      this.sending = true;
      this.$inertia.get(
        route("tournaments.round.next", {
          tournament: this.round.tournament_id,
        }),
        {},
        {
          onFinish: () => {
            this.sending = false;
          },
        }
      );
    },
    closeTournament: function () {
      this.sending = true;
      this.$inertia.get(
        route("tournaments.close", {
          tournament: this.round.tournament_id,
        }),
        {},
        {
          onFinish: () => {
            this.sending = false;
          },
        }
      );
    },
  },
};
</script>

<style>
</style>