<template>
  <div class="game flex items-center w-1/2 justify-around">
    <volt-team-score
      v-if="visitor"
      :score="squad.pivot.score"
      :disabled="lock"
      :class="[{ 'bg-gray-50': lock }, {'cursor-not-allowed': lock}]"
      @update:score="(score) => $emit('updateScore', score)"
    />
    <ul class="my-5">
      <div class="w-full text-center font-bold">
        Équipe {{ visitor ? "B" : "A" }}
      </div>
      <li class="text-justify" v-for="player in squad.players" :key="player.id">
        {{ player.name }}
      </li>
    </ul>
    <volt-team-score
      v-if="!visitor"
      :score="squad.pivot.score"
      :disabled="lock"
      :class="[{ 'bg-gray-50': lock }, {'cursor-not-allowed': lock}]"
      @update:score="(score) => $emit('updateScore', score)"
    />
  </div>
</template>

<script>
import VoltTeamScore from "@/Components/TeamScore";
export default {
  components: {
    VoltTeamScore,
  },
  props: ["squad", "visitor", "lock"],
};
</script>

<style>
</style>