<template>
  <Switch
    v-model="enabled"
    :class="enabled ? 'bg-teal-900' : 'bg-teal-700'"
    class="transition-all duration-400 relative inline-flex h-6 w-11 items-center rounded-full"
  >
    <span class="sr-only">Enable notifications</span>
    <span
      :class="enabled ? 'translate-x-6' : 'translate-x-1'"
      class="inline-block transition-all duration-400 h-4 w-4 transform rounded-full bg-white"
    />
  </Switch>
</template>

<script>
import { Switch } from "@headlessui/vue";
export default {
  components: {
    Switch,
  },
  props: ["enabled"],
  methods: {
    clickMe: function () {
      console.log("test");
    },
  },
};
</script>

<style>
</style>