<template>
  <input
    class="
      h-24
      w-24
      border-gray-300
      focus:border-indigo-300
      focus:ring
      focus:ring-indigo-200
      focus:ring-opacity-50
      rounded-md
      shadow-sm
      text-center
      font-bold
      text-xl
    "
    type="number"
    :value="score"
    name="score"
    @blur="sendScore($event.target.value)"
  />
</template>

<script>
import { vue3Debounce } from "vue-debounce";
export default {
  props: ["score"],
  emits: ["update:score"],
  directives: {
    debounce: vue3Debounce({ lock: true }),
  },
  methods: {
    sendScore: function (val) {
      this.$emit("update:score", val);
    },
  },
};
</script>

<style>
</style>