<template>
  <vol-card>
    <div class="py-3">
      <h3 class="text-xl text-gray-600 font-semibold">Joueurs Inscrits</h3>
      <ul>
        <li class="text-sm text-gray-400">Inscrits: {{ players.length }}</li>
        <li class="text-sm text-gray-400">
          Actifs: {{ activePlayers.length }}
        </li>
      </ul>
    </div>

    <form @submit.prevent="addPlayer">
      <div class="w-full flex items-center justify-around mb-3">
        <vol-input
          class="w-3/4"
          type="text"
          v-model="formPlayer.name"
          name="searched_player"
          placeholder="Rechercher joueur"
        />
        <volt-confirm-button class="w-1/5"> Ajouter </volt-confirm-button>
      </div>
    </form>
    <ul>
      <transition-group name="list" tag="ul">
        <li
          class="
            flex
            py-3
            items-center
            justify-between
            border-t-2 border-gray-200
          "
          v-for="player in filteredPlayers"
          :key="player.id"
        >
          <div class="flex items-center">
            <volt-switch
              :enabled="Boolean(player.enabled)"
              @update:modelValue="togglePlayer(player)"
            />
            <span
              class="ml-2 transition duration-500"
              :class="{ 'text-gray-300': !player.enabled }"
            >
              {{ player.name }} : {{ player.score }} points
            </span>
          </div>
          <div>
            <volt-delete-button @click="displayDeletePlayerModel(player)" />
          </div>
        </li>
      </transition-group>
    </ul>
  </vol-card>
  <confirmation-modal :show="showDeletePlayerModal" :closeable="true">
    <template #title>Suppression de joueur</template>
    <template #content>
      <p>
        Êtes-vous sûr de vouloir supprimer
        <span class="text-red-500 font-bold">{{ playerToDelete.name }}</span> ?
        Cette action est définitive et ne permettra pas de récupérer le score
        final du joueur.
      </p>
    </template>
    <template #footer>
      <JetSecondaryButton @click="hideDeletePlayerModel">
        Cancel
      </JetSecondaryButton>

      <JetDangerButton
        class="ml-3"
        :class="{ 'opacity-25': deleting }"
        :disabled="deleting"
        @click="deletePlayer"
      >
        Supprimer
      </JetDangerButton>
    </template>
  </confirmation-modal>
</template>

<script>
import VolCard from "@/Components/Card";
import VolInput from "@/Jetstream/Input";
import VoltDeleteButton from "@/Components/Buttons/Delete";
import VoltConfirmButton from "@/Components/Buttons/Confirm";
import VoltSwitch from "@/Components/Switch";
import ConfirmationModal from "@/Jetstream/ConfirmationModal";
import JetDangerButton from "@/Jetstream/DangerButton.vue";
import JetSecondaryButton from "@/Jetstream/SecondaryButton.vue";
import { useForm } from "@inertiajs/inertia-vue3";

export default {
  components: {
    VolCard,
    VolInput,
    VoltDeleteButton,
    VoltConfirmButton,
    VoltSwitch,
    ConfirmationModal,
    JetDangerButton,
    JetSecondaryButton,
  },
  props: ["tournament", "players"],
  data: function () {
    return {
      showDeletePlayerModal: false,
      playerToDelete: undefined,
      deleting: false,
      formPlayer: useForm({
        name: "",
      }),
    };
  },
  computed: {
    activePlayers: function () {
      let filtered = this.players.filter((player) => player.enabled == true);
      return filtered;
    },
    filteredPlayers: function () {
      if (this.formPlayer.name == "") {
        return this.players;
      }

      return this.players.filter((player) =>
        player.name.toLowerCase().includes(this.formPlayer.name.toLowerCase())
      );
    },
  },
  methods: {
    addPlayer: function () {
      this.formPlayer.post(
        route("tournaments.player.store", {
          tournament: this.tournament,
        }), {
          preserveScroll: true,
          onSuccess: () => this.formPlayer.reset()
        }
      );
    },
    togglePlayer: function (player) {
      this.$inertia.put(
        route("players.toggle", { player: player }),
        {},
        {
          preserveScroll: true,
        }
      );
    },
    displayDeletePlayerModel: function (player) {
      this.playerToDelete = player;
      this.showDeletePlayerModal = true;
    },
    hideDeletePlayerModel: function () {
      this.showDeletePlayerModal = false;
      this.playerToDelete = null;
    },
    deletePlayer: function () {
      this.deleting = true;
      this.$inertia.delete(
        route("players.destroy", { player: this.playerToDelete }),
        {
          preserveScroll: true,
          onFinish: () => {
            this.deleting = false;
            this.hideDeletePlayerModel();
          },
        }
      );
    },
  },
};
</script>

<style>
</style>