<template>
  <div class="flex h-3 w-3">
    <span
      class="animate-ping h-3 w-3 rounded-full bg-red-400 opacity-75"
    ></span>
    <span class="absolute inline-flex rounded-full h-3 w-3 bg-red-500"></span>
  </div>
</template>

<script>
export default {
    
};
</script>

<style>
</style>